header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    background-color: rgb(148, 212, 231);
    color: black;

}

head{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    background-color: rgb(202, 194, 194);
    color:white;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: white;
}

h3{
    font-size: 25px;
    text-transform: capitalize;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(148, 212, 231);
    text-align: center;

}

section
{
    display: flex;
    flex: 0 0 66.6%;
    max-width: 66.6%;
}

div{
    width: 400px;
    border: 5px solid rgb(148, 212, 231);
    padding: 50px;
    margin: 10px; 
}
