h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    grid-area: header;
}

header{
    font-size: 16px;
    background-color: rgb(148, 212, 231);
    color: black;
    grid-column: sekcjaglownak;
    grid-row: naglowek;

}

head{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    background-color: rgb(202, 194, 194);
    color:white;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: white;
    display: grid;
    grid-template-columns: [sekcjaboczna] 50px  [sekcjaglownak] auto;
    grid-template-rows: [naglowek] 30px [sekcjaglownar] auto;
}

h3{
    font-size: 25px;
    text-transform: capitalize;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(148, 212, 231);
    text-align: center;
}

section
{
    border: 2px rgb(148, 212, 231);
    grid-column: sekcjaglownak;
    grid-row: sekcjaglownar;
}


div{
    width: 400px;
    border: 2px solid rgb(148, 212, 231);
    padding: 30px;
    margin: 10px; 
}

sidebar{
    background-color: rgb(148, 212, 231);
    font-size: 10px;
    grid-column: sekcjaboczna;
    grid-row: sekcjaglownar;
}
