header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    background-color: rgb(148, 212, 231);
    color: black;

}

head{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    background-color: rgb(202, 194, 194);
    color:white;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: white;
}

h3{
    text-transform: capitalize;
    text-decoration-line: underline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(148, 212, 231);

}

section
{
    flex: 0 0 66.6%;
    max-width: 66.6%;
}
