body {
    background-color: #1a2322;
    overflow: hidden;
    flex: none;
    justify-content: center;
    place-items: center;
    font-family: "Noto Sans Adlam", sans-serif;
    text-align: center;

}

html {
    overflow-y: scroll;
}


head {
    flex: none;
    justify-content: center;
    place-items: center;
    text-align: center;
}

