body
{
    background-color: #fff
}

.container
{
    display: flex;

}

.centrum
{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

img{
    width: 280px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pasekgora
{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(50, 205, 192);
}

.etykiety
{
    display: flex;
    flex-direction: row;
}

.wyszukiwarka
{
    display: flex;
    align-content: center;
    justify-content: center;
}

.etykiety2
{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.etykiety3
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-end;
}

.etykiety4
{
    display: flex;
    align-items: center;
    justify-content: center;
}