.container
{
    min-height: 100%;
    position: relative;
}

html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pasekgora
{
    padding: 15px;
    background-color: rgb(255, 255, 255);
}

.etykiety
{
    display: flex;
    flex-direction: row-reverse;
}

.etykieta
{
    padding-left: 10px;
    padding-right: 10px;
}

.docs
{
    padding-left: 10px;
    padding-right: 10px;
}

.centrum
{
    padding-left: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
            ". . ."
            ". logo ."
            ". input ."
            ". button .";
}

.logo
{
    padding-right: 50px;
    width: 280px;
    height: 150px;
    grid-area: logo;
    padding-bottom: 10px;
}

.wyszukiwarka
{
    grid-area: input;
}

input
{
    width: 500px;
    height: 40px;
    border-radius: 30px;
}

.buttony
{
    grid-area:button;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "szukaj traf";
}

button
{
    display: flex;
    flex-direction: row;
}

.pasekdolny
{
    position: absolute; 
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
}

.pasekdollewy
{
    grid-area: pasekl;
}

.etykiety2
{
    text-align: left;
    display: flex;
    flex-direction: row;
    order: 1;
    color: #70757a
}

.pasekdolcentrum
{
    grid-area: paseks;
}

.etykiety4
{
    display: flex;
    text-align: center;
    order: 2;
    flex-direction: row;
    color: #70757a
}

.pasekdolprawy
{
    grid-area: pasekp;
}

.etykiety3
{
    display: flex;
    text-align: right;
    order: 3;
    flex-direction: row;
    color: #70757a
}



