body
{
    background-color: #fff
}

.container
{
    display: grid;
    grid-template-columns: 150px auto 100px;
    grid-template-rows: 30px auto 20px;
    grid-template-areas: 
    "pasekgora pasekgora pasekgora"
    ". main ."
    "pasekdollewy pasekdolsrodek pasekdolprawy";
}

.centrum
{
    display: flex;
    grid-area: main;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

img{
    grid-area: main;
    width: 280px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pasekgora
{
    grid-area: pasekgora;
    background-color: yellowgreen;
}

.etykiety
{
    display: flex;
    flex-direction: row-reverse;
}

.wyszukiwarka
{
    display: grid;
    grid-area: main;
    display: flex;
    align-items: center;
}

.etykiety2
{
    display: grid;
    grid-area: pasekdollewy;
    display: flex;
    flex-direction: row;
}

.etykiety3
{
    display: grid;
    grid-area: pasekdolprawy;
    display: flex;
    flex-direction: row-reverse;
}

.etykiety4
{
    display: grid;
    grid-area: pasekdollewy;
    display: flex;
    align-items: center;
}