.results .container
{
	position: relative;
	margin: 0;
	margin-left: 0;
	max-width: 100%;
	display: grid;
	grid-template-columns: 210px auto;
	grid-template-rows: 110px 30px 40px 1fr;
	grid-template-areas: 
            "logo input guzik"
            "etykiety etykiety etykiety"
            ". wyniki wyniki"
            ". wyniki wyniki";
}

.results .logo
{
	grid-area: logo;
	padding-right: 150px;
}

.results .centrum
{
	display: flex;
	flex-direction: row;
	padding-left: 30px;
}

.results .pasekgora
{
	padding-top: 45px;
	grid-area: guzik;
}

.results .wyszukiwarka
{
	grid-area: input;
}

.results .podinputem
{
	grid-area: etykiety;
	border-bottom: 1px solid #dadce0;
}

.results .etykietyn
{
	padding-left: 200px;
	display: flex;
	flex-direction: row;
}

a.ilewynikow
{
	padding-top: 10px;
	grid-area: wyniki;
	font-size: 14px;
	text-decoration: none;
	color: #70757a;
}

.results .wyniki
{
	padding-top: 50px;
	grid-area: wyniki;
	display: flex;
	flex-direction: column;
}

.wynik
{
	display: flex;
	flex-direction: column;
	padding-bottom: 10px;
}

.adres
{
	display: flex;
	flex-direction: row;
	padding-bottom: 5px;
}

.link
{
	font-size: 14px;
	color: black;
	padding-right: 5px;
}

.corb
{
	font-size: 14px;
	color: #70757a;
}

a.naglowek
{
	font-size: 20px;
	text-decoration: none;
	color: rgb(18, 18, 168);
	padding-bottom: 3px;
}

.opis
{
	font-size: 14px;
	color: #70757a;
}
