.results .container
{
	position: relative;
	margin: 0;
	margin-left: 0;
	max-width: 100%;
	display: grid;
	grid-template-columns: 210px auto;
	grid-template-rows: 110px 30px 985px 1fr;
	grid-template-areas: 
            "logo input guzik"
            "etykiety etykiety etykiety"
            ". wyniki wyniki"
            "pasekd pasekd pasekd";
}

.results .logo
{
	grid-area: logo;
	padding-right: 150px;
}

.results .centrum
{
	all: initial;
	display: flex;
	flex-direction: row;
	padding-left: 30px;
	padding-top: 50px;
}

.results .pasekgora
{
	padding-top: 45px;
	grid-area: guzik;
}

.results .wyszukiwarka
{
	grid-area: input;
}

.results .podinputem
{
	all: initial;
	grid-area: etykiety;
	border-bottom: 1px solid #dadce0;
}

.results .etykietyn
{
	padding-left: 200px;
	display: flex;
	flex-direction: row;
}

.results a.ilewynikow
{
	all: initial;
	padding-top: 10px;
	grid-area: wyniki;
	font-size: 14px;
	text-decoration: none;
	color: #70757a;
}
.results .wyniki
{
	padding-top: 50px;
	grid-area: wyniki;
	display: flex;
	flex-direction: column;
}

.results .wynik
{
	display: flex;
	flex-direction: column;
	padding-bottom: 30px;
}

.results .adres
{
	display: flex;
	flex-direction: row;
	padding-bottom: 5px;
}

.results .link
{
	font-size: 14px;
	color: black;
	padding-right: 5px;
}

.results .corb
{
	font-size: 14px;
	color: #70757a;
}

.results a.naglowek
{
	font-size: 20px;
	text-decoration: none;
	color: rgb(18, 18, 168);
	padding-bottom: 3px;
}

.results .opis
{
	font-size: 14px;
	color: #70757a;
}

.results .pasekdolny
{
	grid-area: pasekd;
}

.results .podobne
{
	font-size: 20px;
	color: black;
	padding-bottom: 5px;
}

.results .podobnewyniki
{
	display: flex;
	flex-direction: row;
	padding-bottom: 10px;
}

.results .lewakolumna
{
	display: flex;
	flex-direction: column;
	font-size: 14px;
	color: rgb(18, 18, 168);
	font-weight: bold;
	padding-right: 10px;
}

.results .prawakolumna
{
	display: flex;
	flex-direction: column;
	font-size: 14px;
	color: rgb(18, 18, 168);
	font-weight: bold;
}

.results .podobnywynik
{
	padding: 3px;
}

.results .liczby
{
	padding-left: 132px;
	display: flex;
	flex-direction: row;
}

.results .gooogle
{
	padding-top: 30px;
	padding-left: 100px;
}

.results a.liczbaa
{
	color: black;
	padding-right: 10px;
	font-weight: bold;
	text-decoration: none;
	font-size: 14px;
}

.results a.liczba
{
	color:rgb(80, 80, 255);
	padding-right: 10px;
	text-decoration: none;
	font-size: 14px;

}

.results a.nastepna
{
	color:rgb(80, 80, 255);
	padding-left: 65px;
	text-decoration: none;
	font-size: 14px;

}

.results .podpanstwem
{
	all:initial;
	padding-top: 5px;
	padding-left: 195px;
	padding-bottom: 5px;
}

.results .etykietyd
{
	padding: 5px;
	display: flex;
	flex-direction: row;
}

.results .panstwo
{
	padding-left: 210px;
}

.results svg
{
	padding-top: 4px;
	padding-right: 5px;
	color: #70757a;
}

.results .etykieta
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/*reset z poprzedniego*/

.results .etykietab
{
	display: none;
}

.results img.kl1
{
	display: none;
}

.results .buttony
{
	display: none;
}

.results .jezyk
{
	display: none;
}

.results .reszta
{
	display: none;
}

.results .etykiety2
{
	display: none;
}

.results .etykiety4
{
	display: none;
}

.results .etykiety3
{
	display: none;
}

.results .listek
{
	display: none;
}

.results a.g
{
	display: none;
}

.results body, .results html
{
	all: initial;
	margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.results .logo
{
	all: initial;
	padding-right: 30px;
}

.results .logogoogle
{
	width: 150px;
	height: 50px;
}



